body
{
  background-color: #111111;
  color: lightgray;
  font-size: 20px;
  text-align: center;
}

ul
{
  list-style-type: none;
  height: 100px;
  width: 100%;
}

/* CSS for memory game */

.memory
{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.memory-start
{
  min-height: 100px;
}

.memory-board
{
  width: 800px;
  float: left;
}

.memory-counter
{
  width: 200px;
  float: left;
}

.numbers
{
  padding-top: 25px;
  height: 50px;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
  width: 92px;
  border: 1px solid white;
  border-radius: 5px;
  display: inline-block;
  background-color: lightgray;
}

.visible
{
  background-color: #111111;
}

/* CSS for hangman game */

.container
{
  width: 1000px;
  margin: auto;
}

#password
{
  height: 120px;
  font-family: 'Inconsolata', monospace;
  font-size: 26px;
  letter-spacing: 5px;
}

#hangman
{
  min-height: 325px;
}

#picture
{
  width: 480px;
  min-height: inherit;
  text-align: center;
  float: left;
}

#choice-container
{
  width: 520px;
  float: left;
}

#keyboard
{
  min-height: 275px;
}

#newgame
{
  min-height: 50px;
}

.letters
{
  width: 30px;
  height: 30px;
  margin: 6px;
  padding: 12px 6px 6px 6px;
  border: 2px dotted gray;
  border-radius: 10px;
  text-align: center;
  float: left;
  cursor: pointer;
}

.clicked-letters
{
  width: 30px;
  height: 30px;
  margin: 6px;
  padding: 12px 6px 6px 6px;
  border-radius: 10px;
  text-align: center;
  float: left;
}

.letters:hover
{
  background-color: #444;
  color: white;
  border: 2px solid white;
}

.green
{
  color: green;
  border: 2px solid green;
}

.red
{
  color: red;
  border: 2px solid red;
}

.lose
{
  margin-top: 25px;
  font-size: 30px;
  color: #A00000;
}

.lose:hover
{
  color: red;
  cursor: pointer;
}

.win
{
  margin-top: 25px;
  font-size: 30px;
  color: #00A000;
}

.win:hover
{
  color: green;
  cursor: pointer;
}
